*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
    font-family: Helvetica, sans-serif;
}

nav {
    padding: 15px 30px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

nav ul, nav a, nav li{
    background-color: white;
}

nav li{
    margin: 0 10px;
    display: inline-block;
}

nav li a {
    color: black;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    background-color: white;
}

.profile {
    background-color: white;
    margin: 30px;
}

.profilea{
    display: inline;
    margin-top: 30px;
    background-color: white;
    float: right;
}

.profilea h1 {
    margin-bottom: 5px;
}

.profilea p {
    margin-bottom: 25px;
}

h1, p, b {
    background-color: white;
}

.profileb{
    display: inline;
    margin-top: 30px;
    margin-left: 70px;
    background-color: white;
    float: right;
    border-left: 1px solid black;
    padding-left: 20px;
}

.profilec{
    display: inline;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 27%;
    background-color: white;
    float: right;
}

.profileb p, .profilec p {
    margin-bottom: 10px;
}

button{
    text-align: center;
    padding: 10px 20px;
    border-radius: 10%;
    
}

.kontak{
    background-color: blue;
    color: white;
    border-color: blue;
}

.resume{
    color: limegreen;
    background-color: white;
    border-color: limegreen;
    margin-left: 1%;    
}

label, input {
    display: block;
}

label {
    font-weight: bold;
}

.formulir form label, input, form {
    background-color: white;
}

.formulir {
    margin: 30px;
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid gray;
    padding: 3px;   
}

input[type=submit] {
    background-color: green;
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
}  

